<?xml version='1.0' encoding='utf-8'?>
<widget id="org.wisdomapps.sufi" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WisdomSufi</name>
    <description>
        Hazrat Inayat Khan "Bowl of Saki"
    </description>
    <author email="nemilya@gmail.com" href="https://github.com/nemilya">
        Ilya Nemihin
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
        <icon src="res/android/drawable-ldpi/icon.png" density="ldpi" />
        <icon src="res/android/drawable-mdpi/icon.png" density="mdpi" />
        <icon src="res/android/drawable-hdpi/icon.png" density="hdpi" />
        <icon src="res/android/drawable-xhdpi/icon.png" density="xhdpi" />
    </platform>

</widget>
